@use "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: variables.$Family;
}

body {
  background-image: url('../images/bg-intro-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: variables.$Red;
}

a {
  color: variables.$Red;
  text-decoration: none;
}

input{
  outline: none;
}

button {
  cursor: pointer;
}