@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

//Colors
/// Primary
$Red: hsl(0, 100%, 74%);
$Green: hsl(154, 59%, 51%);

///Accent
$Blue: hsl(248, 32%, 49%);

//Neutral
$Dark_Blue: hsl(249, 10%, 26%);
$Grayish_Blue: hsl(246, 25%, 77%);

//Typography
//Body Copy

$Font_size: 16px;

///Font

$Family: 'Poppins',
sans-serif;
$Weights: 400,
500,
600,
700;